*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: palevioletred;
}

ul{
    list-style-type: none;
}

.active{
    color: red;
    text-decoration: line-through;
}

.hide{
    display: none;
}